<!--container-->
<div class="container">
  <!--linha-->
  <div class="row">
    <!--coluna 1-->
    <div class="col-md-4">
      <!--Barra lateral-->
      <app-perfil-lateral></app-perfil-lateral>
      <!--/Barra lateral-->
    </div>
    <!--/coluna 1-->
    <!--coluna 2-->
    <div class="col-md-8">
      <!--título-->
      <h3 class="txt-center mb-4 text-monospace">
        Como tem sido sua experiência na área ambiental?
      </h3>
      <!--/título-->
      <!--formulário 1 - Título-->
      <div class="form-group">
        <label class="text-monospace" for="titulo">Título:</label>
        <input
          type="text"
          class="form-control"
          id="titulo"
          placeholder="Digite aqui o seu título"
        />
      </div>
      <!--/formulário 1 - Título-->
      <!--formulário 2 - Texto-->
      <div class="form-group">
        <label class="text-monospace" for="texto">Texto:</label>
        <textarea
          class="form-control"
          id="texto"
          rows="3"
          placeholder="Digite aqui o seu texto"
        ></textarea>
      </div>
      <!--/formulário 2 - Texto-->
      <!--linha da coluna 2-->
      <div class="row d-flex align-items-end">
        <!--coluna 1 da coluna 2-->
        <div class="col-md-6">
          <!--formulário 3 - Escolha ou Cadastre um tema-->
          <div class="form-group m-0">
            <label class="text-monospace" for="tema"
              >Escolha um tema ou <a href=""></a>Cadastre um novo</label
            >
            <!--seletor-->
            <select name="tema" id="tema" class="form-control">
              <option>Testando 123</option>
            </select>
            <!--/seletor-->
          </div>
          <!--/formulário 3 - Escolha ou Cadastre um tema-->
        </div>
        <!--/coluna 1 da coluna 2-->
        <!--coluna 2 da coluna 2-->
        <div class="col-md-6 d-flex justify-content-end">
          <!--button-->
          <button
            type="button"
            class="btn btn-outline-success w-25"
          >
            Publicar
          </button>
          <!--/button-->
        </div>
        <!--/coluna 2 da coluna 2-->
      </div>
      <!--/linha da coluna 2-->

      <hr class="mt-5 mb-5" />

      <!--navbar-->
      <nav class="d-flex justify-content-center">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a
            class="nav-item nav-link active text-secondary font-weight-bold"
            id="nav-home-tab"
            data-toggle="tab"
            href="#postagens"
            role="tab"
            aria-controls="nav-home"
            aria-selectd="true"
            >Postagens</a
          >

          <a
            class="nav-item nav-link text-secondary font-weight-bold"
            id="nav-profile-tab"
            data-toggle="tab"
            href="#postagens-temas"
            role="tab"
            aria-controls="nav-profile"
            aria-selected="false"
            >Postagens por tema</a
          >
        </div>
      </nav>
      <!--/navbar-->

      <!--Conteúdo-->
      <div class="tab-content" id="nav-tabContent">
        <!--Conteúdo de Postagens-->
        <div
          class="tab-pane fade show active"
          id="postagens"
          roles="tabpanel"
          aria-labelledby="nav-postagens-tab"
        >
          <!--linha de pesquisa-->
          <div class="row mt-3 mb-3">
            <!--coluna 1-->
            <div class="col-md-10 pr-0">
              <input
                class="from-control w-100"
                type="search"
                placeholder="Pesquisar postagem"
                aria-label="Pesquisar">
            </div>
            <!--/coluna 1-->
            <!--coluna 2-->
            <div class="col-md-2 pl-0">
              <!--button-->
              <button class="btn btn-outline-success w-100" type="button">
                Pesquisar
              </button>
              <!--/button-->
            </div>
            <!--/coluna 2-->
          </div>
          <!--/linha de pesquisa-->
        </div>
        <!--/Conteúdo de Postagens-->

        <!--Conteúdo de Postagens temas-->
        <div
          class="tab-pane fade"
          id="postagens-temas"
          roles="tabpanel"
          aria-labelledby="nav-postagens-tab"
        >
          <!--linha de pesquisa-->
          <div class="row mt-3 mb-3">
            <!--coluna 1--> 
            <div class="col-md-10 pr-0">
              <input
                class="from-control w-100"
                type="search"
                placeholder="Pesquisar postagem"
                aria-label="Pesquisar">
            </div>
            <!--/coluna 1-->
            <!--coluna 2-->
            <div class="col-md-2 pl-0">
              <!--button-->
              <button class="btn btn-outline-success w-100" type="button">
                Pesquisar
              </button>
              <!--/button-->
            </div>
            <!--/coluna 2-->
          </div>
          <!--/linha de pesquisa-->
        </div>
        <!--/Conteúdo de Postagens temas-->
      </div>
      <!--/Conteúdo-->
    </div>
    <!--/coluna 2-->
  </div>
  <!--/linha-->
</div>
<!--/container-->
