<!--container-->
<div class="container mt-5">
  <!--linha-->
  <div class="row">
    <!--coluna 1-->
    <div class="col-md-4">
      <!--Barra lateral-->
      <app-perfil-lateral></app-perfil-lateral>
      <!--/Barra lateral-->
    </div>
    <!--/coluna 1-->
    <!--coluna 2-->
    <div class="col-md-8">
      <!--título-->
      <h3 class="txt-center mb-4 text-monospace">
        Conte-nos um pouco da sua experiência com o meio ambiente!
      </h3>
      <!--/título-->
      <!--formulário 1 - Título-->
      <div class="form-group">
        <label class="text-monospace" for="titulo">Título:</label>
        <input
          type="text"
          class="form-control"
          id="titulo"
          placeholder="Digite aqui o seu título"
          [(ngModel)]="postagem.titulo"
        />
      </div>
      <!--/formulário 1 - Título-->
      <!--formulário 2 - Texto-->
      <div class="form-group">
        <label class="text-monospace" for="texto">Texto:</label>
        <textarea
          class="form-control"
          id="texto"
          rows="3"
          placeholder="Digite aqui o seu texto"
          [(ngModel)]="postagem.texto"
        ></textarea>
      </div>
      <!--/formulário 2 - Texto-->
      <!--linha da coluna 2-->
      <div class="row d-flex align-items-end">
        <!--coluna 1 da coluna 2-->
        <div class="col-md-6">
          <!--formulário 3 - Escolha ou Cadastre um tema-->
          <div class="form-group m-0">
            <label class="text-monospace" for="tema"
              >Escolha um tema. Não encontrou o que queria?
              <a class="text-success" routerLink="/cadastro-tema"
                >Cadastre um novo ou Edite um!</a
              ></label
            >
            <!--seletor-->
            <select
              name="tema"
              id="tema"
              class="form-control"
              [(ngModel)]="idTema"
              (change)="findByIdTema()"
            >
              <option *ngFor="let item of listaTemas" value="{{ item.id }}">
                {{ item.descricao }}
              </option>
            </select>
            <!--/seletor-->
          </div>
          <!--/formulário 3 - Escolha ou Cadastre um tema-->
        </div>
        <!--/coluna 1 da coluna 2-->
        <!--coluna 2 da coluna 2-->
        <div class="col-md-6 d-flex justify-content-end">
          <!--button-->
          <button
            type="button"
            class="btn btn-success w-50"
            (click)="publicar()"
          >
            Publicar
          </button>
          <!--/button-->
        </div>
        <!--/coluna 2 da coluna 2-->
      </div>
      <!--/linha da coluna 2-->

      <hr class="mt-5 mb-5" />

      <!--navbar-->
      <nav class="d-flex justify-content-center">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a
            class="nav-item nav-link active text-secondary font-weight-bold"
            id="nav-home-tab"
            data-toggle="tab"
            href="#postagens"
            role="tab"
            aria-controls="nav-home"
            aria-selectd="true"
            >Postagens</a
          >

          <a
            class="nav-item nav-link text-secondary font-weight-bold"
            id="nav-profile-tab"
            data-toggle="tab"
            href="#postagens-temas"
            role="tab"
            aria-controls="nav-profile"
            aria-selected="false"
            >Postagens por tema</a
          >
        </div>
      </nav>
      <!--/navbar-->

      <!--Conteúdo-->
      <div class="tab-content" id="nav-tabContent">
        <!--Conteúdo de Postagens-->
        <div
          class="tab-pane fade show active"
          id="postagens"
          roles="tabpanel"
          aria-labelledby="nav-postagens-tab"
        >
          <!--linha de pesquisa-->
          <div class="row mt-1 mb-3">
            <!--coluna 1-->
            <div class="col-md-10 pr-0">
              <div class="form-group">
                <input
                  type="search"
                  class="form-control"
                  id="search"
                  placeholder="Pesquisar postagem"
                  aria-label="Pesquisar"
                  [(ngModel)]="titulo"
                />
              </div>
            </div>
            <!--/coluna 1-->

            <!--coluna 2-->
            <div class="col-md-2 pl-0">
              <!--button-->
              <button
                class="btn btn-outline-success w-100"
                type="button"
                (click)="findByTituloPostagem()"
              >
                Pesquisar
              </button>
              <!--/button-->
            </div>
            <!--/coluna 2-->
          </div>
          <!--/linha de pesquisa-->

          <!--card das pesquisas-->
          <div class="row mt-3">
            <div class="col-md-12">
              <div
                class="card mb-3"
                *ngFor="let item of listaPostagens | orderBy: key:reverse"
              >
                <div class="card-header">
                  <div class="row d-flex align-items-center">
                    <div class="col-md-8">
                      <h5 class="card-title">{{ item.titulo }}</h5>
                    </div>
                    <div class="col-md-4 d-flex justify-content-end">
                      <button
                        class="mr-3 btn btn-info"
                        [routerLink]="['/editar-post', item.id]"
                      >
                        Editar
                      </button>

                      <button
                        class="btn btn-danger ml-3"
                        [routerLink]="['/delete-post', item.id]"
                      >
                        Apagar
                      </button>
                    </div>
                  </div>
                </div>

                <div class="card-body">
                  <p class="card-text" aria-describedby="texto">
                    {{ item.texto }}
                  </p>
                  <small>Tema: {{ item.tema.descricao }}</small>
                </div>
              </div>
            </div>
          </div>
          <!--/card das pesquisas-->
        </div>
        <!--/Conteúdo de Postagens-->

        <!--Conteúdo de Postagens temas-->
        <div
          class="tab-pane fade"
          id="postagens-temas"
          roles="tabpanel"
          aria-labelledby="nav-postagens-tab"
        >
          <!--linha de pesquisa-->
          <div class="row mt-1 mb-3">
            <!--coluna 1-->
            <div class="col-md-10 pr-0">
              <div class="form-group">
                <input
                  type="search"
                  class="form-control"
                  id="search"
                  placeholder="Pesquisar postagem"
                  aria-label="Pesquisar"
                  [(ngModel)]="nomeTema"
                />
              </div>
            </div>
            <!--/coluna 1-->
            <!--coluna 2-->
            <div class="col-md-2 pl-0">
              <!--button-->
              <button
                class="btn btn-outline-success w-100"
                type="button"
                (click)="findByNomeTema()"
              >
                Pesquisar
              </button>
              <!--/button-->
            </div>
            <!--/coluna 2-->
          </div>
          <!--/linha de pesquisa-->

          <!--card das pesquisas-->
          <div class="row mt-3">
            <!--lista todos os temas e dentro da model de temas existe uma array de postagens (olhar na model postagens[]-->
            <div class="col-md-12" *ngFor="let item of listaTemas | orderBy: key:reverse">
              <!--varre a array do item.postagem (essa div é "filha" da acima-->
              <div *ngFor="let post of item.postagem">
              <div
                class="card mb-3"
              >
                  <div class="card-header">
                    <div class="row d-flex align-items-center">
                      <div class="col-md-12">
                        <h5 class="card-title">{{ post.titulo }}</h5>
                      </div>
                    </div>
                  </div>

                  <div class="card-body">
                    <p class="card-text" aria-describedby="texto">
                      {{ post.texto }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--/card das pesquisas-->
        </div>
        <!--/Conteúdo de Postagens temas-->
      </div>
      <!--/Conteúdo-->
    </div>
    <!--/coluna 2-->
  </div>
  <!--/linha-->
</div>
<!--/container-->
