<div class="container w-100">
  <!--primeira linha - título-->
  <div class="row w-100 mt-5 mb-5">
    <div class="col-md-12">
      <h1 class="text-monospace text-center">Cadastrar</h1>
    </div>
  </div>
  <!--final-->

  <!--segunda linha - formulário-->
  <div class="row mb-5 d-flex justify-content-center">
    <div class="col-md-8">
      <div class="form-group">
        <label class="text-monospace" for="nome">Nome:</label>
        <input
          type="text"
          class="form-control"
          id="nome"
          placeholder="Digite aqui seu nome"
        />
      </div>

      <div class="form-group">
        <label class="text-monospace" for="email">E-mail:</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="nome@exemplo.com"
        />
      </div>

      <div class="form-group">
        <label class="text-monospace" for="senha">Senha:</label>
        <input
          type="password"
          class="form-control"
          id="senha"
          placeholder="Digite aqui sua senha"
        />
      </div>

      <div class="form-group">
        <label class="text-monospace" for="senhaConf">Confirmar senha:</label>
        <input
          type="password"
          class="form-control"
          id="senhaConf"
          placeholder="Confirme sua senha"
        />
      </div>

      <div class="d-flex justify-content-center">
        <!--button-->
        <button class="btn btn-outline-success w-25" type="submit" routerLink='/login'>
          Cadastrar
        </button>
        <!--/button-->
      </div>
    </div>
  </div>
</div>
<!--final-->
