<!--Card-->
<div class="card border-0" style="width: 18rem;">
    <!--centraliza a imagem-->
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="assets/img/caroline_foto.jpg" alt="Imagem de capa do card">
    </div>
    <!--/centraliza a imagem-->
    <!--texto-->
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">{{nome}}</h5>
      <p class="card-text text-center text-monospace">Gestora Ambiental (EACH/USP) e Desenvolvedora Web Fullstack Jr (Generation Brasil).</p>
      <!--/texto-->
      <!--formato de button | meus contatos-->
      <a href="https://www.linkedin.com/in/carolinedasmerces/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">Linkedin</a>
      <a href="https://github.com/carolinemerces" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>
      <!--formato de button | meus contatos-->
    </div>
     
  </div>
  <!--/Card-->
